* {
    margin: 0px;
    padding: 0px;

    font-weight: normal;
}


@import "font.scss", "mixin.scss", "wrapper-top.scss", "project.scss", "online-control.scss", "repair-content.scss", "fantasy.scss", "design-project.scss", "goal.scss", "our-team.scss";
@import "our-team.scss", "our-clients.scss", "map.scss", "footer.scss";
@import "mobile.scss";